<main class="py-5 frms">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-md-8 py-1">
                <div class="card">
                    <h2 class="m-b-2 card-header ">Factura</h2>
                    <form action="#" class="py-5 card-body " method="POST">
                       
                        <div class="form-group row">
                             <label for="usuario" class=" col-lg-2 col-form-label">Usuario
                            </label>
                            <div class="col-lg-4">
                                <select class="  form-control">
                                    <option>usuario 1</option>
                                    <option>usuario 2</option>
                                    <option>usuario 3</option>
                                </select>
                            </div>
                            <label for="cliente" class=" col-lg-2 col-form-label">Cliente</label>
                            <div class="col-lg-4">
                                <select class="  form-control">
                                    <option>Cliente 1</option>
                                    <option>Cliente 2</option>
                                    <option>Cliente 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="producto" class=" col-lg-2 col-form-label">Producto</label>
                            <div class="col-lg-4">
                                 <select class="  form-control">
                                    <option>Producto 1</option>
                                    <option>Producto 2</option>
                                    <option>Producto 3</option>
                                </select>
                            </div>
                             <label for="valorUnidad" class="col-lg-2 col-form-label">Valor Unidad</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="valorUnidad" name="valorUnidad"
                                    placeholder="Valor Unidad" data-toggle="tooltip" data-placement="top"
                                    title="Valor Unidad" disabled>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="cantidad" class=" col-lg-2 col-form-label">Cantidad</label>
                             <div class="col-lg-4">
                                <input class=" form-control" type="text" id="cantidad" name="cantidad"
                                    placeholder="Cantidad" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese la cantidad">
                            </div>    
                             <label for="totalAcumulado" class="col-lg-2 col-form-label">Total</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="totalAcumulado" name="totalAcumulado"
                                    placeholder="Total" data-toggle="tooltip" data-placement="top"
                                    title="Total de Factura" disabled>
                            </div>
                        </div>

                        <div class="form-group row py-4">
                            <div class="col-lg-6 offset-lg-2">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-secondary">Limpiar</button>
                                <button type="submit" class="generar btn btn-primary">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-header">Nota</div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <table class="card-body table table-responsive table-striped py-4">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>producto</th>
                        <th>Proveedor</th>
                        <th>Cantidad Pedida</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <i class="updateicon fas fa-edit"></i>
                            <i class=" deleteicon fas fa-trash-alt"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>